var funcA = function (e, ins) {
  console.log('source is', JSON.stringify(e))
  var scrollTop = e.detail.scrollTop//滚动的距离
  if (scrollTop > 100) {//滚动距离超过100
    ins.selectComponent('.page-group').setStyle({//设置菜单栏背景颜色，并固定到指定位置
      "background-color": 'red'
    }).addClass('page-group-position')
    ins.selectComponent('.page-banner .image').setStyle({//顶部图片设置为透明
      opacity: 0//opacity不透明度，默认为1完全不透明
    })
  } else {//滚动距离小于100
    ins.selectComponent('.page-group').setStyle({//跟随滚动距离设置透明度，不固定位置s
      "background-color": 'rgba(255, 00, 00, ' + Math.max(0, (scrollTop) / 100) + ')'
    }).removeClass('page-group-position')
    ins.selectComponent('.page-banner .image').setStyle({//同时设置顶部图片不透明度
      opacity: 1 - Math.max(0, (scrollTop) / 100)
    })
  }
}
module.exports = {
  funcA: funcA
}