var newmark = startmark = 0
var status = 0
function touchstart(e, ins) {
  var pageX = (e.touches[0] || e.changedTouches[0]).pageX
  startmark = newmark = pageX
}
function touchmove(e, ins) {
  var pageX = (e.touches[0] || e.changedTouches[0]).pageX
  newmark = pageX
  // var data = ins.getData()
  var data = {
    windowWidth: e.target.dataset.width,
    transform: e.target.dataset.transform
  }
  if (startmark < pageX) {
    if (data.windowWidth * 0.75 > Math.abs(newmark - startmark)) {
      // console.log(111, JSON.stringify(event), context.newmark - context.startmark)
      // ins.selectComponent('.page-top').setStyle({//wxs中设置的样式和style行内样式重复？？？使用callMethod调用js中的方法来改变偏移值，而不是直接设置style
      //   transform: 'translateX(' + Math.min(data.windowWidth * 0.75, ((status == 1 ? data.windowWidth * 0.75 : 0) + newmark - startmark)) + 'px)'
      // })
      ins.callMethod('updateTransform', Math.min(data.windowWidth * 0.75, ((status == 1 ? data.windowWidth * 0.75 : 0) + newmark - startmark)));
    }
  }
  if (startmark > pageX) {
    // ins.selectComponent('.page-top').setStyle({
    //   transform: 'translateX(' + Math.max(0, ((status == 1 ? data.windowWidth * 0.75 : 0) + newmark - startmark)) + 'px)'
    // })
    ins.callMethod('updateTransform', Math.max(0, ((status == 1 ? data.windowWidth * 0.75 : 0) + newmark - startmark)));
  }
}
function touchend(e, ins) {
  var pageX = (e.touches[0] || e.changedTouches[0]).pageX
  newmark = pageX
  // var data = ins.getData()
  var data = {
    windowWidth: e.target.dataset.width
  }
  if (startmark < pageX) {
    if (data.windowWidth * 0.2 < Math.abs(newmark - startmark)) {
      // ins.selectComponent('.page-top').setStyle({
      //   transform: 'translateX(' + (data.windowWidth * 0.75) + 'px)',
      // })
      ins.callMethod('updateTransform', (data.windowWidth * 0.75));
      status = 1 // 展开状态
    } else {
      // ins.selectComponent('.page-top').setStyle({
      //   transform: 'translateX(0px)'
      // })
      ins.callMethod('updateTransform', 0);
      status = 0 // 收起状态
    }
  }
  if (startmark > newmark) {
    // ins.selectComponent('.page-top').setStyle({
    //   transform: 'translateX(0px)',
    // })
    ins.callMethod('updateTransform', 0);
    status = 0 // 收起状态
  }
}
module.exports = {
  touchstart: touchstart,
  touchmove: touchmove,
  touchend: touchend
}